* {
  margin:0;
  padding:0;
  font-family: Roboto, Arial, serif;
}

body {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
}

.section-one,
.section-two,
.section-three,
.section-four {
  flex: 1;
}

.logo,
header,
.section-one {
  background-color: #1F2937;
}

.logo,
.header-section-one,
.image-placeholder {
  color: #F9FAF8;
}

li,
.content-section-one {
  color: #E5E7EB;
  list-style: none;
}

header {
  padding: 0 200px;
  display:flex;
  justify-content: space-between;
}

ul {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.container-section-one {
  border: white solid 2px;
  display:flex;
  height: 300px;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.header-section-one,
.content-section-one {
  width: 100%;
}

.button-section-one {
  height: 30px;
  padding: 0 20px;
}

.image-placeholder {
  background-color: gray;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}






