* {
  margin:0;
  padding:0;
  font-family: Roboto, Arial, serif;
}

body {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

header,
body section,
footer {
  padding: 0 450px;
}

.section-one,
.section-two,
.section-three,
.section-four {
  flex: 1;
}

.logo,
header,
.section-one {
  background-color: #1F2937;
}

.logo,
.header-section-one,
.image-placeholder {
  color: #F9FAF8;
}

li,
.content-section-one {
  font-size: 18px;
  color: #E5E7EB;
  list-style: none;
}

header {
  display:flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

ul {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.section-one {
  display: flex;
  align-items: center;
}

.container-section-one {
  display: flex;
  flex: 1;
}

.wrapper {
  flex: 1;
}

div p {
  margin-bottom: 10px;
}

.header-section-one {
  width: 70%;
  font-size: 48px;
  font-weight: 900;
}

.content-section-one {
  width: 90%;
  font-size: 18px;
}

.button-section-one {
  font-family: Roboto, Arial, serif;
  font-weight: bold;
  padding: 8px 25px;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-placeholder {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}






