* {
  margin:0;
  padding:0;
  font-family: Roboto, Arial, serif;
}

body {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

header,
.section-one,
.section-four,
footer {
  padding: 0 450px;
}

.section-two
 {
  padding: 0 500px;
}

.section-three {
  padding: 0 550px;
}

header,
footer {
  flex: 1;
}

.section-one,
.section-two,
.section-three,
.section-four {
  flex: 4;
}

.logo,
header,
.section-one,
footer {
  background-color: #1F2937;
}

.logo,
.header-section-one,
.image-placeholder,
footer {
  color: #F9FAF8;
}

li,
.content-section-one {
  font-size: 18px;
  color: #E5E7EB;
  list-style: none;
}

header {
  display:flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

ul {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-section-one {
  display: flex;
  flex: 0 1 auto;
}

.wrapper {
  flex: 1;
}

div p {
  margin-bottom: 10px;
}

.header-section-one {
  width: 70%;
  font-size: 48px;
  font-weight: 900;
}

.content-section-one {
  width: 90%;
  font-size: 18px;
 
}

.button-section-one {
  font-family: Roboto, Arial, serif;
  font-weight: bold;
  padding: 8px 25px;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-placeholder {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.section-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-section-two {
  font-size: 36px;
  font-weight: 900;
  color:#1F2937;
  width: 100%;
  text-align: center;
}

.wrapper-section-two {
  max-width: 150px;
}

.wrapper-section-two p {
  text-align: center;
}

.box-section-two {
  height: 150px;
  border: solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.section-three {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  background-color: #E5E7EB;
}

.section-three p {
  width: 100%;
}

.content-section-three {
  color:#1F2937;
  font-family: Roboto;
  font-style: italic;
  font-size: 36px;
  text-decoration: 
}

.author-section-three {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-section-four {
  background-color: #3882F6;
  color: #F9FAF8;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 50px 100px;
  justify-content: center;
}

.header-section-four {
  font-weight: 700;
  font-size: 20px;
}

.wrapper-call {
  max-width: 80%;
  margin-right: auto;
}

.wrapper-call p{
 margin: 0;
 padding: 0;
}

.button-section-four {
  font-family: Roboto, Arial, serif;
  font-weight: 700;
  color: #F9FAF8;
  background-color: #3882F6;
  border: #F9FAF8 solid 2px;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}





